@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Sora:wght@100..800&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9838 0.0035 247.8583);
  --foreground: oklch(0.1284 0.0267 261.5937);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1284 0.0267 261.5937);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1284 0.0267 261.5937);
  --primary: oklch(0.4865 0.2423 291.8661);
  --primary-foreground: oklch(0.9838 0.0035 247.8583);
  --secondary: oklch(0.9486 0.0085 303.5068);
  --secondary-foreground: oklch(0.341 0.1625 292.9477);
  --muted: oklch(0.9679 0.0027 264.5424);
  --muted-foreground: oklch(0.5503 0.0235 264.362);
  --accent: oklch(0.9546 0.0227 303.2883);
  --accent-foreground: oklch(0.4865 0.2423 291.8661);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --border: oklch(0.9278 0.0058 264.5314);
  --input: oklch(0.9278 0.0058 264.5314);
  --ring: oklch(0.4865 0.2423 291.8661);
  --chart-1: oklch(0.4865 0.2423 291.8661);
  --chart-2: oklch(0.7216 0.1282 217.8676);
  --chart-3: oklch(0.6356 0.1398 156.1492);
  --chart-4: oklch(0.6192 0.2037 312.7283);
  --chart-5: oklch(0.6532 0.2114 353.9392);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.1284 0.0267 261.5937);
  --sidebar-primary: oklch(0.4865 0.2423 291.8661);
  --sidebar-primary-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-accent: oklch(0.9486 0.0085 303.5068);
  --sidebar-accent-foreground: oklch(0.4865 0.2423 291.8661);
  --sidebar-border: oklch(0.9278 0.0058 264.5314);
  --sidebar-ring: oklch(0.4865 0.2423 291.8661);
  --font-sans: Plus Jakarta Sans, Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 1rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 30px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-color: hsl(263, 70%, 50%);
  --shadow-2xs: 0px 8px 30px 0px hsl(263 70% 50% / 0.04);
  --shadow-xs: 0px 8px 30px 0px hsl(263 70% 50% / 0.04);
  --shadow-sm: 0px 8px 30px 0px hsl(263 70% 50% / 0.08), 0px 1px 2px -1px hsl(263 70% 50% / 0.08);
  --shadow: 0px 8px 30px 0px hsl(263 70% 50% / 0.08), 0px 1px 2px -1px hsl(263 70% 50% / 0.08);
  --shadow-md: 0px 8px 30px 0px hsl(263 70% 50% / 0.08), 0px 2px 4px -1px hsl(263 70% 50% / 0.08);
  --shadow-lg: 0px 8px 30px 0px hsl(263 70% 50% / 0.08), 0px 4px 6px -1px hsl(263 70% 50% / 0.08);
  --shadow-xl: 0px 8px 30px 0px hsl(263 70% 50% / 0.08), 0px 8px 10px -1px hsl(263 70% 50% / 0.08);
  --shadow-2xl: 0px 8px 30px 0px hsl(263 70% 50% / 0.2);
  --tracking-normal: -0.02em;
  --spacing: 0.25rem;
  --font-sora: "Sora", sans-serif;
  --font-Garamond: "Cormorant Garamond", serif;
}

.dark {
  --background: oklch(0.1091 0.0091 301.6956);
  --foreground: oklch(0.9838 0.0035 247.8583);
  --card: oklch(0.1376 0.0118 301.0607);
  --card-foreground: oklch(0.9838 0.0035 247.8583);
  --popover: oklch(0.1486 0.014 299.9811);
  --popover-foreground: oklch(0.9838 0.0035 247.8583);
  --primary: oklch(0.6083 0.2172 297.1153);
  --primary-foreground: oklch(0.1091 0.0091 301.6956);
  --secondary: oklch(0.2363 0.0582 299.6364);
  --secondary-foreground: oklch(0.8266 0.0933 301.9462);
  --muted: oklch(0.2217 0.0242 299.7054);
  --muted-foreground: oklch(0.7497 0.0224 301.0128);
  --accent: oklch(0.2255 0.0836 296.7401);
  --accent-foreground: oklch(0.6083 0.2172 297.1153);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --border: oklch(0.2505 0.0293 299.5707);
  --input: oklch(0.2505 0.0293 299.5707);
  --ring: oklch(0.6083 0.2172 297.1153);
  --chart-1: oklch(0.6083 0.2172 297.1153);
  --chart-2: oklch(0.7741 0.1272 215.0981);
  --chart-3: oklch(0.7801 0.1859 154.5892);
  --chart-4: oklch(0.7001 0.1882 313.2907);
  --chart-5: oklch(0.6888 0.2092 353.1317);
  --sidebar: oklch(0.1249 0.0104 301.6956);
  --sidebar-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-primary: oklch(0.6083 0.2172 297.1153);
  --sidebar-primary-foreground: oklch(0.1091 0.0091 301.6956);
  --sidebar-accent: oklch(0.2096 0.0482 299.9505);
  --sidebar-accent-foreground: oklch(0.6083 0.2172 297.1153);
  --sidebar-border: oklch(0.2217 0.0242 299.7054);
  --sidebar-ring: oklch(0.6083 0.2172 297.1153);
  --font-sans: Plus Jakarta Sans, Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 1rem;
  --shadow-x: 0px;
  --shadow-y: 20px;
  --shadow-blur: 40px;
  --shadow-spread: -10px;
  --shadow-opacity: 0.6;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0px 20px 40px -10px hsl(0 0% 0% / 0.3);
  --shadow-xs: 0px 20px 40px -10px hsl(0 0% 0% / 0.3);
  --shadow-sm: 0px 20px 40px -10px hsl(0 0% 0% / 0.6), 0px 1px 2px -11px hsl(0 0% 0% / 0.6);
  --shadow: 0px 20px 40px -10px hsl(0 0% 0% / 0.6), 0px 1px 2px -11px hsl(0 0% 0% / 0.6);
  --shadow-md: 0px 20px 40px -10px hsl(0 0% 0% / 0.6), 0px 2px 4px -11px hsl(0 0% 0% / 0.6);
  --shadow-lg: 0px 20px 40px -10px hsl(0 0% 0% / 0.6), 0px 4px 6px -11px hsl(0 0% 0% / 0.6);
  --shadow-xl: 0px 20px 40px -10px hsl(0 0% 0% / 0.6), 0px 8px 10px -11px hsl(0 0% 0% / 0.6);
  --shadow-2xl: 0px 20px 40px -10px hsl(0 0% 0% / 1.5);
}

@theme inline {
  --font-sora: "Sora", sans-serif;
  --font-Garamond: "Cormorant Garamond", serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background-color: var(--background);
  color: var(--foreground);
}

#root {
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sora), serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

a {
  transition: color 0.2s ease;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply font-sora bg-background text-foreground;
  }

  html {
    @apply font-sora;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-in-from-bottom {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-in {
  animation: fade-in 0.5s ease-out forwards;
}

.slide-in-from-bottom-4 {
  --tw-enter-translate-y: 1rem;
}

.duration-700 {
  animation-duration: 700ms;
}

.delay-200 {
  animation-delay: 200ms;
}

.delay-300 {
  animation-delay: 300ms;
}

.glossy-text {
  background: linear-gradient(135deg, #ffffff 0%, #f0f0f0 25%, #ffffff 50%, #f0f0f0 75%, #ffffff 100%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: subtle-shine 6s ease-in-out infinite;
}

@keyframes subtle-shine {

  0%,
  100% {
    background-position: 0% center;
  }

  50% {
    background-position: 100% center;
  }
}